<!--Template partiel injecté avec JS (pages de consultations simples)-->
{% if not user.is_authenticated %}
<p class="warning-info">Vous devez vous connecter pour accéder à la plateforme officielle d'achat des billets</p>
{% endif %}
    
    <h2>Profitez des offres d'achat de billets du moment pour pouvoir reserver vos places aux évènements des JO !</h2>

    <section>
        <ul>
            {% for billet in billets %}
            <li>
                <strong>Offre {{ billet.nom }}</strong> <br><br>
                {{ billet.description }} <br><br>
                Prix: {{ billet.prix }}€

                {% if user.is_authenticated %}
                <br><br>
                <a href="{% url 'achat_billet' %}">Acheter dès maintenant vos billets sur la plateforme officielle !</a>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </section>



    
    