<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Réservation</title>
</head>
<body>
    <h1>Votre réservation a été confirmée !</h1>
    <p>Merci pour votre réservation. Vous recevrez un email de confirmation avec les détails.</p>
    <a href="{% url 'profil' %}">Retrouvez toutes vos reservations en consultant votre profil</a><br>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
</body>
</html>