<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        {% if utilisateur %}
        <h1>Bonjour {{ utilisateur.username }}, bienvenue sur le site de réservation de billets pour les Jeux Olympiques</h1>
        {% else %}
        <h1>Bienvenue sur le site de réservation de billets pour les Jeux Olympiques</h1>
        {% endif %}
        <nav>
            <ul>
                
                {% if user.is_authenticated %}
                <!-- SEB: Visible que pour les users connectés -->  
                <li><a href="{% url 'profil' %}">Mon compte</a></li>

                {% else %}
                <!-- SEB: Visible que pour les visiteurs non connectés -->  
                    <li> <form method="post" action="{% url 'login' %}"> <!-- Methode POST obligatoire pour se dé-loguer de façon sécuritaire (exigence de Django)-->
                        {% csrf_token %}
                        <button type="submit">Se connecter</button>
                        </form>
                    </li>

                    <li><a href="{% url 'inscription' %}">Créer un compte</a></li>

               {% endif %}
               <!-- SEB : Lien toujours visibles -->        
                    <li><a href="{% url 'billets' %}">Reservez vos billets pour les JO de Paris 2024</a></li>
                    <li><a href="{% url 'evenements' %}">Voir tous événements des JO de Paris 2024</a></li>
                
                {% if user.is_authenticated %}
                <!-- SEB: Visible que pour les users connectés --> 
                <li>
                    <form method="post" action="{% url 'logout' %}"> <!-- Methode POST obligatoire pour se dé-loguer de façon sécuritaire (exigence de Django)-->
                        {% csrf_token %}
                        <button type="submit">Se déconnecter</button>
                    </form>
                </li>

                {% endif %}

        </nav>
    </header>
    
    <main>
        <section>
            <h2>Les prochains évènements clés des Jeux Olympiques de Paris 2024</h2>

            <ul>
                {% for evenement in evenements_une %}
                
                <li>
                    <strong>{{ evenement.nom }}</strong><br>
                    {{ evenement.description }}<br>
                    
                    {% if evenement.photo %}
                    <img src="{{ evenement.photo.url }}" alt="{{ evenement.nom }}"><br>
                    {% endif %}
                    Date: {{ evenement.date }} <br>
                    Nombre de place disponible : {{ evenement.stock_restant }}<br>
                    <br>
                </li>
                {% endfor %}
                
            </ul>
        </section>


    </main>

    <footer>
        <p>&copy; 2024 Site non officiel des Jeux Olympiques de Paris 2024 - Examen de Bloc 3 Studi</p>
    </footer>



</body>
</html>
