<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscriptions sur le site des JO 2024</title>
</head>
<body>
    <h1>Créer un compte</h1>
    <form method="post" action="{% url 'inscription' %}">
        {% csrf_token %}
        {{ form.as_p }} <!--SEB : permet d'afficher le formulaire DJango de base qui a été étendu grâce au fichier ajouté "forms.py dans l'app" -->
        
        <button type="submit">S'inscrire</button>
    </form>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
</body>
</html>

