<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <h1>Se connecter</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
        <p class="error">{{ form.non_field_errors }}</p>  <!-- SEB : pour afficher les erreurs générales -->
        {% endif %}
        
        <div>
            <label for="id_username">Nom d'utilisateur :</label>
            {{ form.username }}
        </div>

        <div>
            <label for="id_password">Mot de passe :</label>
            {{ form.password }}
        </div>

        <button type="submit">Connexion</button>
    </form>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
</body>
</html>
