<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
</head>
<body>
    <h1>Votre compte ({{ utilisateur.username }})</h1>
    
<!-- SEB: Affiche ici les messages eventuels defini dans les vues (exemple mauvais mot de passe saisi...) -->    
    {% if messages %}
    {% for message in messages %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}

<!-- SEB: Section de gestion du profil -->
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Gestion de votre profil</legend>
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
    </fieldset>
    <button type="submit" name="update_info">Mettre à jour mes informations</button> <!--SEB : submit un "update_info" pour le différencier du submit du changment de mot de passe -->
</form>

<!-- SEB: Section de gestion du mot de passe -->   
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Gestion de votre mot de passe</legend>
        {{ password_change_form.as_p }}
    </fieldset>
    <button type="submit" name="change_password">Modifier mon mot de passe</button>
</form>

<!--SEB: Section d'affichage des billets dispo-->
    <h2>Billets disponibles</h2>
    <p>Vous avez {{ quantite_totale_billets }} billets disponibles.</p>

<!--SEB: Section d'affichage et de gestion des reservations-->
    <h2>Mes Réservations</h2>
    <ul>
    {% for reservation in reservations %}
        <li>
            Date de réservation : {{ reservation.date_reservation }}<br>
            Événement : {{ reservation.evenement.nom }}<br>
            Date de l'évènement : {{ reservation.evenement.date }}
            <!--Vérifie si l'annulation est toujours possible-->
            {% if not reservation.annulation_possible %}
                <p>L'annulation de cette réservation n'est plus possible.</p>
            {% else %}
                <form action="{% url 'annuler_reservation' reservation.token %}" method="get">
                    <button type="submit">Annuler la réservation</button>
                </form>
            {% endif %}
            <a href="{% url 'ticket_view' reservation.token %}">Afficher le ticket</a>
            <p></p>
        </li>
    {% empty %}
        <li>Aucune réservation trouvée.</li>
    {% endfor %}
    </ul>
    





    <form method="post" action="{% url 'logout' %}"> 
        {% csrf_token %}
        <button type="submit">Se déconnecter</button>
    </form>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
</body>
</html>
