<!--draft pas utilisé-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Réserver un événement</h1>
    <p>Vous avez sélectionné l'événement: {{ evenement.nom }}</p>
    <form method="post" action="{% url 'confirmer_reservation' evenement.id %}">
        {% csrf_token %}
        <p>Confirmez votre réservation pour le {{ evenement.date }}</p>
        <button type="submit">Confirmer</button>
    </form>
    <a href="{% url 'evenements' %}">Retour à la liste des événements</a>
    <a href="{% url 'home' %}">Retour à l'accueil</a>
</body>
</html>